<div class="reselect-container reselect"
     tabindex="0"
     ng-keydown="$reselect.handleKeyDown($event)">

	<input type="hidden" value="{{ngModel}}"/>

	<div class="reselect-selection-container"
        focus-on="reselect.input.focus"
        blur-on="reselect.input.blur"
		ng-class="{'reselect-selection--active' : $reselect.opened }"
		ng-click="$reselect.toggleDropdown()">

		<div class="reselect-rendered reselect-rendered-selection"
			ng-show="$reselect.value">
            <div reselect-selection>
                <span ng-bind="$selection"></span>
            </div>
		</div>

		<div class="reselect-rendered reselect-rendered-placeholder"
			ng-show="!$reselect.value">
            <div reselect-placeholder>Please select an option</div>
        </div>

		<!-- <div class="reselect-input-container">
			<input class="reselect-text-input"
				readonly="readonly"
				ng-if="true"/>
		</div> -->

		<div class="reselect-arrow-container">
			<div class="reselect-arrow"></div>
		</div>
	</div>

	<div class="reselect-dropdown" ng-class="{'reselect-dropdown--opened' : $reselect.opened }"></div>
</div>
