<div class="reselect-container reselect"
     tabindex="0"
     focus-on="reselect.input.focus"
     blur-on="reselect.input.blur"
     ng-keydown="$reselect.handleKeyDown($event)">

	<input type="hidden" value="{{ngModel}}"/>

	<div class="reselect-selection-container"
		ng-class="{'reselect-selection--active' : $reselect.opened }"
		ng-click="$reselect.toggleDropdown($event)">

		<div class="reselect-rendered reselect-rendered-selection"
			ng-show="$reselect.isValidValue">
            <div class="reselect-selection" reselect-selection>
                <span ng-bind="$selection"></span>
            </div>
		</div>

		<div class="reselect-rendered reselect-rendered-placeholder"
			ng-show="!$reselect.isValidValue">
            <div class="reselect-placeholder" reselect-placeholder>Please select an option</div>
        </div>

		<div class="reselect-arrow-container">
			<div class="reselect-arrow"></div>
		</div>
	</div>

    <a href="javascript:;" class="reselect-clear-button" ng-if="$reselect.options.allowClear && $reselect.isValidValue" ng-click="$reselect.clearValue()">&times;</a>

	<div class="reselect-dropdown"
	     ng-class="{'reselect-dropdown--opened' : $reselect.opened, 'reselect-dropdown--above': $reselect.isDropdownAbove, 'reselect-dropdown--below': !$reselect.isDropdownAbove }"></div>
</div>
