<li class="reselect-option">
    <div class="reselect-option-choice" style="height: {{$options.choiceHeight}}px"
        ng-class="[{'reselect-option-choice--highlight' : $options.activeIndex === $index, 'reselect-option-choice--selected' : $options.selectedIndex === $index }, cssClass]"
        ng-mouseenter="$options.activeIndex = $index"
        ng-mouseleave="$options.activeIndex = null"
        ng-click="$options._selectChoice($index, $onClick)"
        ng-if="$sticky || !$group">
        <div class="reselect-option-sticky"
            ng-if="$sticky === true"
            ng-bind-html="$stickyContent"></div>

        <div class="reselect-option-choice-container" ng-if="!$sticky && !$group"></div>
    </div>

    <div class="reselect-option-optgroup"
        style="height: {{$options.choiceHeight}}px"
        ng-if="$group === true"
        ng-bind="$groupContent"></div>
</li>