<div class="reselect-container reselect" ng-click="$reselect.toggleDropdown()">

	<input type="hidden" value="{{ngModel}}"/>

	<div class="reselect-selection">

		<div class="reselect-rendered reselect-rendered-selection"
			ng-if="$reselect.value"
			ng-bind="$reselect.rendered_selection"></div>

		<div class="reselect-rendered reselect-rendered-placeholder"
			ng-if="!$reselect.value"
			ng-bind="$reselect.rendered_placeholder"></div>

		<!-- <div class="reselect-input-container">
			<input class="reselect-text-input"
				readonly="readonly"
				ng-if="true"/>
		</div> -->

		<div class="reselect-arrow-container">
			<div class="reselect-arrow"></div>
		</div>
	</div>
</div>
