<div class="reselect" tabindex="0" 
    ng-class="{'reselect--active': $reselect.state.is_opened}">
    
    <div class="reselect-selected-container"
        ng-click="$reselect.toggleDropdown()">
        <div class="reselect-selection-container reselect-selected-value" ng-show="$reselect.$selected.$value !== null && $reselect.$selected.$value !== undefined">
            <reselect-selection>
                Selected: {{$selection}}
            </reselect-selection>
        </div>
        <div class="reselect-placeholder-container reselect-selected-value" ng-show="$reselect.$selected.$value === null || $reselect.$selected.$value === undefined">
            <reselect-placeholder>
                Select an option
            </reselect-placeholder>
        </div>
    </div>

    <div class="reselect-choices-container" ng-show="$reselect.state.is_opened"></div>
</div>
