<!DOCTYPE html>
<html lang="en" ng-app="simple">
    <head>
        <meta charset="utf-8">
        <title>Reselect</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
        <!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
        <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css"> -->
        <!-- ui-select files -->
        <script src="../dist/reselect.js"></script>
        <link rel="stylesheet" href="../dist/reselect.css">
        <link rel="stylesheet" href="example.css">
        <script src="simple.js"></script>
    </head>
    <body>
        <h2>Angular Reselect</h2>
        <div ng-controller="SimpleCtrl">

            <div style="padding-bottom: 20px">
                Model Value: <span ng-bind="simple.value|json"></span>
            </div>

            <div style="padding-bottom: 20px">
                <reselect
                    ng-model="simple.value">
                    <reselect-choices
                        options="option in simple.choices"
                        value="$choice">
                            <span ng-bind="$choice.text"></span> - Choice
                    </reselect-options>
                </reselect>
            </div>

            <div style="padding-bottom: 20px">
                <!-- <select>
                    <option ng-repeat="option in simple.choices track by $index">{{$index}}</option>
                </select> -->
            </div>
        </div>
    </body>
</html>
