.reselect-container{
	display:inline-block;
}

.reselect-selection{
	position: relative;

	min-height: 36px;
	min-width: 120px;

	border:1px solid #ccc;

	padding-right: 18px;
}

.reselect-rendered{
	min-height: 36px;

	padding: 6px;
}

.reselect-arrow-container{
	position: absolute;

	right  : 0;
	top    : 0;
	bottom : 0;

	width: 18px;

	background: #eee;
}