.reselect-choices{
	@include reselect-border();
	border-color: $reselect-border-color-active;
	border-top-color: #eee;

	// min-width: $reselect-width;
	width: $reselect-width;

	background: white;
}

.reselect-search-container{
	padding: 4px 8px;

	background:#f9f9f9;
	border-bottom:1px solid #eee;
}

.reselect-search-input{
	width: 100%;
	height: 26px;

	font-size: 11px;
	padding: 5px;
}

.reselect-options-container{
	overflow: auto;

	position: relative;

	&.disable-hover .reselect-option-choice{
		pointer-events:none;
	}

	&::-webkit-scrollbar {
	  width: 6px;
	}

	&::-webkit-scrollbar-track {
	  background: #ddd;
	}

	&::-webkit-scrollbar-thumb {
	  background: #666;
	}
}

.reselect-options-list{
	margin: 0;
	padding: 0;

	list-style: none;

	position: relative;

}

.reselect-search-input{
	width: 100%;
}

.reselect-option{
	padding: 12px 15px;

	font-size: 11px;
	font-weight: 400;
}

.reselect-option-choice{

	height: 36px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	position: absolute;

	border-bottom: 1px solid #eee;

	cursor:pointer;

	&.reselect-option-choice--highlight{
		background: #09c;
		color:#fff;
	}

	&.inactive{
		display: none;
	}

	&.reselect-option--static{
		position: relative;
	}
}
