.reselect{
	font-family: Arial, sans-serif;
	font-size: 12px;

	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.reselect *{
	box-sizing: border-box;
}

.reselect-container{
	position: relative;
	display:inline-block;
    outline: none;
    min-width: $reselect-width;
}

.reselect-rendered{
	min-height: $reselect-height;

	padding: 6px 14px;
	font-size: $reselect-text-size;

	// box-shadow: inset 0px 0px 5px rgba(0,0,0, 0.1);
}

.reselect-selection-container{
	position: relative;
	cursor: pointer;

	background:#fff;

	line-height: $reselect-height - 12px;
	min-height: $reselect-height;

	border-radius: $reselect-border-radius;

	padding-right: 18px;

	@include reselect-border();

	&:hover, &.reselect-selection--active{
		border-color: $reselect-border-color-active;
	}

    [reselect-selection]{
        display:block;
    }
}

.reselect-rendered-placeholder{
	color: $reselect-placeholder-color;

	font-style: italic;
}

.reselect-input-container{
	z-index: 10;
	position: absolute;

	top:0;
	left:0;
	right: 18px;
}

.reselect-text-input{
	font-size: $reselect-text-size;

	height: $reselect-height;
	width: 100%;

	padding: 6px;

	border:none;
	background: none;
}

.reselect-arrow-container{
	position: absolute;

	right  : 0;
	top    : 0;
	bottom : 0;

	width: 18px;

	// background: #eee;
	border-left: 1px solid $reselect-border-color;

	&::after{
		content: '';

		position: absolute;

		left: 50%;
		margin-left: -5px;
		top: 50%;
		margin-top:-2.5px;

		width: 0;
		height: 0;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;

		border-top: 5px solid #ccc;
	}
}

.reselect-dropdown{
	position: absolute;

	@include animation(reselectOptionOpen 0.2s);

	display:none;

    width: 100%;

	&.reselect-dropdown--opened{
		z-index: 10;
		display:block;
	}
    &.reselect-dropdown--above{
        bottom: 38px; // TODO make dynamic in JS

        box-shadow: $reselect-box-shadow-above;
        @include transform-origin(bottom center);

        .reselect-choices {
            border-top-color: $reselect-border-color;
            border-bottom-color: #eee;
        }
    }
    &.reselect-dropdown--below{
        top: $reselect-height;

        box-shadow: $reselect-box-shadow;
        @include transform-origin(top center);
    }
}

.reselect-clear-button{
    position: absolute;
    right:18px;
    top:0;

    top:0;
    bottom:0;
    line-height: $reselect-height;

    width: 30px;
    font-size: 20px;

    text-align: center;
    color:#ccc;

    background:none;
    display: block;

    font-weight: 300;

    &:hover, &:active{
        text-decoration: none;
    }
}
