.reselect-choices {
	@include reselect-border();
	border-color: $reselect-border-color-active;
	border-top-color: #eee;

	// min-width: $reselect-width;
	width: 100%;

	background: white;
}

.reselect-search-container{
	background:#f9f9f9;
	border-bottom:1px solid #eee;

}

input[type="text"].reselect-search-input{
	width: 100%;
	height: 36px;

	font-size: 12px;
	padding: 0 15px;

	outline:none;
	border: none;
	background: none;
}

.reselect-text-match{
	font-weight: bold;
	color: #111;
}

.reselect-options-container{
	overflow: auto;

	position: relative;

	&.reselect-options-container--autoheight{
		height: auto !important;
	}

	&.disable-hover .reselect-option-choice{
		pointer-events:none;
	}

	&::-webkit-scrollbar {
	  width: 6px;
	}

	&::-webkit-scrollbar-track {
	  background: #ddd;
	}

	&::-webkit-scrollbar-thumb {
	  background: #666;
	}
}

.reselect-options-list{
	margin: 0;
	padding: 0;

	list-style: none;

	position: relative;

}

.reselect-option{
	padding: 12px 15px;

    line-height: 1;
	font-size: 11px;
	font-weight: 400;
}

.reselect-static-option{
	position: relative;
}

.reselect-option-choice{

	height: 36px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	position: absolute;

	border-bottom: 1px solid #eee;

	cursor:pointer;

	&.reselect-option-choice--highlight{
		background: #f3f3f3;
		color:#111;
	}

    &.reselect-option-choice--selected{
        background:#f9f9f9;
		color:#111;
	}

	&.inactive{
		display: none;
	}

	&.reselect-option--static{
		position: relative;
	}
}
