.reselect-choices {
	@include reselect-border();
	border-color: $reselect-border-color-active;
	border-top-color: #eee;

	// min-width: $reselect-width;
	width: 100%;

	background: white;
}

.reselect-search-container{
	background:#f9f9f9;
	border-bottom:1px solid #eee;

}

input[type="text"].reselect-search-input{
	width: 100%;
	height: 36px;

	font-size: 12px;
	padding: 0 15px;

	outline:none;
	border: none;
	background: none;
}

.reselect-text-match{
	font-weight: bold;
	color: #111;
}

.reselect-options-container{
	overflow: auto;

	position: relative;

	&.reselect-options-container--autoheight{
		height: auto !important;
	}

	&.disable-hover .reselect-option-choice{
		pointer-events:none;
	}

	&::-webkit-scrollbar {
	  width: 6px;
	}

	&::-webkit-scrollbar-track {
	  background: #ddd;
	}

	&::-webkit-scrollbar-thumb {
	  background: #999;
	}
}

.reselect-options-list{
	margin: 0;
	padding: 0;

	list-style: none;

	position: relative;

}

%reselectOptionStyle{
    line-height: 1;
	font-size: 11px;
	font-weight: 400;    
}

.reselect-option{
	position: absolute;
	overflow: hidden;
	width: 100%;
	@extend %reselectOptionStyle;

	&.inactive{
		display: none;
	}

	&.reselect-option--static{
		position: relative;
		cursor:default;
	}
}

.reselect-static-option{
	position: relative;
}

.reselect-option-loader{
    position: absolute;
    top:0;
    left:0;
    right:0;

    height: 3px;
    content: '';

    &:after{
        position: absolute;
        left:0;
        top:0;
        height: 3px;

        content:'';
        width: 20%;
        display:block;
        background: #09c;

        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        @include animation(reselect-loader 1.5s infinite);
    }
}

%reselectChoiceStyle{
	padding: 12px 15px;
	height: 36px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	// border-bottom: 1px solid #eee;
	color:#333;
	cursor:pointer;
}

.reselect-option-choice{
	@extend %reselectChoiceStyle;

	&.reselect-option-choice--highlight{
		background: lighten(#09c,5);
		color:#fff;
	}

    &.reselect-option-choice--selected{
		background: #09c;
		color:#fff;
	}
}

.reselect-option-optgroup{
	@extend %reselectChoiceStyle;
	font-size: 10px;
	background:#fcfcfc;
	color:#999;
	padding-left: 10px;
	// font-weight: bold;
	cursor: default;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.reselect-sticky-container{
	border-top: 1px solid $reselect-border-color;
}

.reselect-sticky-choice{
	@extend %reselectOptionStyle;
	@extend %reselectChoiceStyle;
}
