@include keyframes(reselectOptionOpen) {
	0% {
		opacity: 0;
		@include transform(scaleY(0));
	}

	100% {
		opacity: 1;
		@include transform(scaleY(1));
	}
}

@include keyframes(reselect-loader){
    0% {
        width:0%;
        left:0%;
    }

    10% {
        width:0%;
        left:0%;
    }

    50%{
        left: 0%;
        width:100%;
    }

    90%{
        width: 0%;
        left: 100%;
    }

    100%{
        width: 0%;
        left: 100%;
    }
}
