$reselect-height: 38px;
$reselect-width: 200px;

$reselect-border-color: #ccc;
$reselect-border-color-active: #09c;
$reselect-border-radius: 3px;

$reselect-text-size: 12px;

$reselect-placeholder-color: #999;

@mixin reselect-border(){
	border:1px solid $reselect-border-color;
}

.reselect{
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.reselect *{
	box-sizing: border-box;
}

.reselect-container{
	position: relative;
	display:inline-block;
}

.reselect-rendered{
	min-height: $reselect-height;

	padding: 6px 14px;
	font-size: $reselect-text-size;

	// box-shadow: inset 0px 0px 5px rgba(0,0,0, 0.1);
}

.reselect-selection{
	position: relative;
	cursor: pointer;

	background:#fff;

	line-height: $reselect-height - 12px;
	min-height: $reselect-height;
	min-width: $reselect-width;

	border-radius: $reselect-border-radius;

	padding-right: 18px;

	@include reselect-border();

	&:hover{
		border-color: $reselect-border-color-active;
	}
}

.reselect-rendered-placeholder{
	color: $reselect-placeholder-color;

	font-style: italic;
}

.reselect-input-container{
	z-index: 10;
	position: absolute;

	top:0;
	left:0;
	right: 18px;
}

.reselect-text-input{
	font-size: $reselect-text-size;

	height: $reselect-height;
	width: 100%;

	padding: 6px;

	border:none;
	background: none;
}

.reselect-arrow-container{
	position: absolute;

	right  : 0;
	top    : 0;
	bottom : 0;

	width: 18px;

	// background: #eee;
	border-left: 1px solid $reselect-border-color;

	&::after{
		content: '';

		position: absolute;

		left: 50%;
		margin-left: -5px;
		top: 50%;
		margin-top:-2.5px;

		width: 0;
		height: 0;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;

		border-top: 5px solid #ccc;
	}
}

.reselect-dropdown{
	animation: fadeInUpSmall 0.3s;
	position: absolute;

	top: $reselect-height;
}

@keyframes fadeInUpSmall {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
	        transform: none;
	}
}

@import 'reselect.options';
